body {
 font-family: "Goldman", sans-serif;
}

.game-container {
  max-width: 800px;
  border: 1px solid red;
  margin: 0 auto;
}

.game-container h1 {
  text-align: center;
  
}

.game-container p {
  text-align: center;
}
