body {
 font-family: "Goldman", sans-serif;
}

.game-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.game-container h1 {
  text-align: center;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.intro img {
  width: 200px;
  margin: 1rem auto;
  flex-shrink: 0;
}

.description {
  max-width: 500px;
}

.description p {
  font-size: 1.1rem;
  line-height: 1.6;
}

hr {
  margin: 1rem 0;
}

.game-area {
  width: 100%;
  max-width: 1200px;
  height: 400px;
  margin: 0 auto;
  border: 2px solid #ccc;
  background-color: #f0f0f0;
  position: relative;
  border-bottom: 4px solid #999;
}


#dino{
  width: 50px;
  height: 50px;
  background-image: url(src/T-rextransparent.png);
  background-size: cover;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
    0% { bottom: 0; }
    50% { bottom: 140px; }
    100% { bottom: 0; }
}

#cactus {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cactus-obstacles {
  position: absolute;
  bottom: 0;    
  left: 600px;
  width: 60px;
  height: 100px;
  background-image: url('src/cacti.png');
  background-size: cover;
  background-position: bottom;
}


/* #cactus {
  width:50px;
  height:50px;
  background-image: url(src/cactustransparent.png);
  background-size: 20px 40px;
  position:relative;
  top:100px;
  left:500px;

} */