body {
 font-family: "Goldman", sans-serif;
}

.game-container {
  width: 100%;
  max-width: 900px;
 /*  border: 1px solid red; */
  margin: 0 auto;
  padding: 2rem 1rem;
}

.game-container h1 {
  text-align: center;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.intro img {
  width: 200px;
  margin: 1rem auto;
  flex-shrink: 0;
}

.description {
  max-width: 500px;
}

.description p {
  font-size: 1.1rem;
  line-height: 1.6;
}

hr {
  margin: 1rem 0;
}

.game-area {
  width: 100%;
  max-width: 1200px;
  height: 400px;
  margin: 0 auto;
  border: 2px solid #ccc;
  background-color: #f0f0f0;
}

#cactus {
  position: absolute;
  bottom: 0;
  left: 600px;
  width: 60px;
  height: 80px;

  background-image: url(src/cacti.png);
  background-size: cover;
  animation: cacti 2.5s linear infinite; /* you can change to 1 sec but it was hurting my eyes haha */
}

@keyframes cacti {
    0% {
        left : 800px;
    }

    100% {
      left: -20px;
    }
}

#dino{
  width:50px;
  height:50px;
  background-image: url(src/T-rextransparent.png);
  background-size: 50px 50px;
  position:relative;
  top:150px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 130px;
  }
  50% {
    top: 80px;
  }
  80% {
    top: 130px;
  }
  100% {
    top: 150px;
  }
}

#cactus {
  width:50px;
  height:50px;
  background-image: url(src/cactustransparent.png);
  background-size: 20px 40px;
  position:relative;
  top:100px;
  left:500px;

}